@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* @font-face {
  font-family: "Corsiva Hebrew Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/corsiva-hebrew-bold.ttf");
}
.font2 {
  font-family: "Corsiva Hebrew Bold";
} */
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "Noto Sans", sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
label,
input,
button,
select,
img {
  vertical-align: middle;
  font-size: 1em;
}
input,
button {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
input[type="submit"] {
  cursor: pointer;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cf::after {
  content: "";
  display: table;
  clear: both;
}
