#banner {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
}
#banner .text {
  text-align: center;
}
#info {
  border-top: 1px solid;
  padding: 185px 0;
  background: #f2f2f2;
}
#info .infoMenu {
  width: 650px;
  margin: 0 auto;
  padding: 25px 0 27px;
  position: relative;
  text-align: center;
}
#info .infoMenu button {
  position: absolute;
  font-size: 20px;
  width: 125px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: none;
  border-radius: 30px;
  color: #444;
  font-weight: 300;
}
#info .infoMenu p {
  margin-top: 25px;
  font-size: 24px;
  color: #444;
  font-weight: 300;
}
#info .infoMenu p span {
  font-weight: 500;
}
#info .infoMenu button.btnSkill {
  top: 105px;
  left: 70px;
}
#info .infoMenu button.btnDetail {
  top: 0;
  left: 70px;
}
#info .infoMenu button.btnHistory {
  top: 85px;
  right: 50px;
}
#info .infoContents {
  width: 650px;
  margin: 0 auto;
}
#info .infoContents .contWrap {
  width: 100%;
  background: #fff;
  padding: 33px 18px;
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  display: none;
}
#info .infoContents .contWrap.on {
  display: block;
}
#info .infoContents .contWrap p {
  font-size: 16px;
  color: #888;
  margin-bottom: 5px;
}
#info .infoContents .contWrap a {
  color: #888;
}
#info .infoContents .contWrap a:hover {
  color: #444;
  font-weight: 600;
}
#info .infoContents .contWrap p span {
  display: inline-block;
  width: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

#info .infoContents .contWrap .skillList {
  display: flex;
  flex-flow: wrap;
}

#info .infoContents .contWrap .skillList .html {
  width: 250px;
}

#info .infoContents .contWrap.contHistory p span {
  width: 160px;
  vertical-align: top;
  margin-bottom: 7px;
}
#info .infoContents .contWrap.contHistory p span:last-child {
  font-weight: normal;
  width: calc(100% - 160px);
  word-break: keep-all;
}

.projects {
  padding: 100px 0;
}
.projects h2 {
  font-family: "Archivo", sans-serif;
  font-size: 90px;
  color: #deb5b5;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  line-height: 100%;
}

.projects h3 {
  font-family: "Archivo", sans-serif;
  font-size: 50px;
  color: #deb5b5;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  line-height: 100%;
}

#projects01 .pjContent .pjTitle {
  font-size: 25px;
  color: #808080;
  margin-bottom: 45px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}
#projects01 .pjContent {
  max-width: 1300px;
  margin: 50px auto 0;
}

#projects01 .pjContent .inner {
  display: flex;
}
#projects01 .pjContent .inner .img {
  width: 578px;
}
#projects01 .pjContent .inner .cont {
  width: calc(100% - 578px);
  padding-left: 60px;
}
